body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
}

.section-0, .section-b, .section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid orange;
    width: 100%;
    box-sizing: border-box;
}

.section-0 h2, .section-b h2, .section-1 h2 {
    color: white;
}

.topic-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.topic-button, .topic-button-b {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    flex: 1 1 30%;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.topic-button:hover {
    background-color: blue;
    color: black;
}

.topic-button-b:hover {
    background-color: blue;
    color: black;
}

.topic-button.selected {
    background-color: white; /* Nền trắng khi được chọn */
    color: black; /* Chữ đen khi được chọn */
}

.topic-button-b.selected {
    background-color: white; /* Nền trắng khi được chọn */
    color: black; /* Chữ đen khi được chọn */
}

.section-a {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    border: 2px solid orange;
    margin-top: 20px;
}

.section-a1 {
    width: 100%;
    height: auto; /* Chiều cao sẽ được cập nhật từ JavaScript */
    position: relative;
    overflow: visible;
}

.section-a2 {
    height: calc(10% + 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shuffle-button {
    margin-top: 10px;
    color: white;
    background-color: #b22222;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.frame {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #b22222;
    border-radius: 10px; /* Bo tròn góc */
    margin-top: 5px;
    transition: transform 0.2s, border-color 0.2s;
}

.frame:hover {
    border-color: white;
    transform: scale(1.05);
}

.section-1 {
    display: flex; /* Cố định 1 hàng ngang */
    flex-direction: row; /* Hàng ngang */
    width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng */
}

.section-1-a {
    width: 40%; /* Đặt chiều rộng tự động để tương ứng với chiều rộng của khung hình S1 */
    height: calc(100% + 10px); /* Chiều cao bằng chiều cao của 0.jpg đã scale + 10px */
    background-color: #2c2a29; /* Màu nền nâu đen */
    border: 2px solid yellow; /* Viền màu vàng */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section-1-b {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: calc(100% + 10px); /* Đảm bảo chiều cao bằng với section 1-a */
    border: 2px solid yellow; /* Viền màu vàng */
    background-color: #2c2a29; /* Màu nền nâu đen */
}

.section-1-b-1, h3, p { 
    width: 100%;
    color: white; /* Màu chữ trắng */
    border: 2px solid #ff00ae; /* Viền cho các phần này */
    padding: 10px; /* Thêm khoảng cách bên trong */
}

.section-1-b-2 {
    width: 100%;
    color: white; /* Màu chữ trắng */
    border: 2px solid #ff00ae; /* Viền cho các phần này */
    padding: 10px; /* Thêm khoảng cách bên trong */
}

/* Khung hình S1 */
.khung-hinh-s1 {
    height: calc(100% - 10px); /* Chiều cao bằng chiều cao của 0.jpg đã scale */
    border: 2px solid #b22222; /* Viền màu vàng */
    border-radius: 10px; /* Bo tròn góc */
    width: 100%; /* Chiều rộng sẽ được cập nhật từ JavaScript */
    background-image: url('images/0.jpg'); /* Đặt hình nền cho khung hình S1 */
    background-size: cover; /* Đảm bảo hình nền vừa khít */
}

/* Popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Điều chỉnh kích thước theo nhu cầu */
    max-width: 400px;
    height: auto; /* Tự động chiều cao */
    border-radius: 10px; /* Bo tròn góc */
    border: 2px solid yellow; /* Viền màu vàng */
    display: none; /* Ẩn popup ban đầu */
    background-color: rgba(255, 255, 255, 0.9); /* Nền trắng mờ */
    z-index: 1000; /* Đảm bảo popup ở trên cùng */
    transition: transform 0.5s, opacity 0.5s; /* Hiệu ứng mờ dần */
    opacity: 0; /* Khởi tạo mờ */
}

.popup img {
    width: 100%; /* Đảm bảo hình ảnh chiếm đầy popup */
    border-radius: 10px; /* Bo tròn góc cho hình ảnh */
}

.popup.show {
    display: block; /* Hiện popup */
    opacity: 1; /* Hiện đầy đủ */
}

/* Section mean */
.section-mean {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid orange;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: white; /* Màu chữ */
}

.section-mean-1, .section-mean-2 {
    width: 100%;
    padding: 20px;
    border: 2px solid orange;
    box-sizing: border-box;
}

.section-mean-1 h2 {
    color: white;
}

.section-mean-1 {
    text-align: center; /* Căn giữa nội dung */
    margin-bottom: 20px; /* Khoảng cách dưới */
}

.section-mean-2 {
    background-color: black; /* Nền trắng */
    color: white; /* Màu chữ đen */
    padding: 20px; /* Khoảng cách bên trong */
    border-radius: 5px; /* Bo góc */
    border: 1px solid #ccc; /* Viền mỏng */
    display: none; /* Ẩn mặc định */
}

.view-meaning-button {
    background-color: black;
    color: white;
}

.view-meaning-button:hover {
    background-color: darkred; /* Màu khi hover */
}

.view-meaning-button.active {
    background-color: darkred; /* Màu sau khi click */
    color: white; /* Màu chữ sau khi click */
    border: 2px solid white; /* Giữ viền trắng */
}

/* Responsive cho mobile */
@media (max-width: 768px) {
    .topic-menu {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .dropdown-content.show {
        display: flex;
    }

    .topic-button {
        flex: 1 1 100%;
    }

    .section-a1 {
        height: calc((imgHeight * 0.3 * 2) + 20px);
    }

    .section-1 {
        flex-direction: column;
        align-items: center;
    }

    .section-1-a, .section-1-b {
        width: 100%; /* Đặt chiều rộng 100% cho di động */
    }
    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Màu nền bán trong suốt */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000; /* Đặt lên trên cùng */
    }
    .section-gpt {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid orange;
        width: 100%;
        box-sizing: border-box;
    }

    .chatgpt-content {
        width: 100%;
        max-width: 600px;
    }

    #chatInput {
        width: 100%;
        height: 100px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid white;
        color: black;
        background-color: rgba(255, 255, 255, 0.9);
    }

    #sendMessage {
        padding: 10px 20px;
        background-color: #b22222;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #messages {
        margin-top: 10px;
        max-height: 300px;
        overflow-y: auto;
        border: 1px solid white;
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.9);
    }
}
